@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?qk83p3');
  src:  url('../fonts/icomoon.eot?qk83p3#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qk83p3') format('truetype'),
    url('../fonts/icomoon.woff?qk83p3') format('woff'),
    url('../fonts/icomoon.svg?qk83p3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-search:before {
  content: "\e900";
  color: inherit;
}
.i-wk{
  font-size: 10px !important;
}
.i-wk:before {
  content: "\e912";
  color: #fff;
}
.i-facebook:before {
  content: "\e901";
  color: #fff;
}
.i-instagram:before {
  content: "\e902";
  color: #fff;
}
.i-heart:before {
  content: "\e909";
  color: inherit;
}
.i-right-arrow:before {
  content: "\e90a";
  color: inherit;
}
.i-left-arrow:before {
  content: "\e90d";
  color: inherit;
}
.i-bottom-arrow:before {
  content: "\e90f";
  color: inherit;
}
.i-cart:before {
  content: "\e910";
}
.i-telephone:before {
  content: "\e90b";
}
.i-settings:before {
  content: "\e90c";
  color: inherit;
}
.i-location:before {
  content: "\e90e";
  color: inherit;
}