.products{
  margin-bottom: 70px;
  &__title{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 100%;
    color: #333333;
    margin-bottom: 30px;
    @include media($sm){
      font-size: 16px;
      line-height: 100%;
    }
  }
  &__content{
    margin-right: -30px;
    @include media($md){
      margin-right: -15px;
    }
    @include media($sm){
      margin-right: -10px;
    }
    &_4{
      .products__item{
        margin-right: 30px;
        @include media($sm){
          margin-right: 10px;
        }
      }
    }
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E1F0FE;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    &-top{
      padding: 55px 0 15px 0;
      background: #FAFAFA;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      @include media($sm){
        padding: 13px 11px;
      }
      &__btns{
        position: absolute;
        right: 20px;
        top: 20px;
        display: flex;
        flex-direction: column;
        @include media($sm){
          display: none;
        }
      }
      &__btn{
        width: 36px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #A6B0B9;
        box-sizing: border-box;
        border-radius: 5px;
        margin-bottom: 10px;
        color: #A6B0B9;
        transition: 200ms ease;
        @media (hover: hover){
          &:hover{
            background: #fff;
            border: 1px solid #fff;
            color: #25A1D3;
          }
        }
      }
    }
    &-row{
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
      @include media($sm){
        display: none;
      }
    }
    &-star{
      display: flex;
      align-items: center;
      margin-right: 12px;
      &__p{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        color: #E98F10;
        margin-left: 7px;
      }
    }
    &-review{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 100%;
      text-decoration-line: underline;
      color: #333333;
    }
    &-price{
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 100%;
      color: #333333;
      flex: 1 1 auto;
      display: flex;
      align-items: flex-end;
      @include media($sm){
        font-size: 18px;
        line-height: 100%;
      }
    }
    &-content{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      padding: 5px 20px 15px 20px;
      flex: 1 1 auto;
      width: 100%;
      @include media($sm){
        margin-bottom: 11px;
        font-size: 12px;
        line-height: 110%;
        padding: 10px;
      }
    }
    &-title{
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: #333333;
      margin-bottom: 12px;
      max-width: 200px;
      @include media($sm){
        font-size: 12px;
        line-height: 110%;
      }
    }
    &-btn{
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 17px 0;
      border: 1px solid #25A1D3;
      box-sizing: border-box;
      border-radius: 62px;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 100%;
      text-align: center;
      color: #25A1D3;
      transition: 200ms ease;
      @media (hover: hover){
        &:hover{
          color: #012D5A;
          border: 1px solid #012D5A;
        }
      }
      @include media($sm){
        border-radius: 24px;
        display: none;
      }
      &.show-on-mobile{
        display: none;
        @include media($sm){
          display: flex;
          padding: 10px 0;
          background: #25A1D3;
          color: #fff;
          i{
            margin-right: 10px;
          }
        }
      }
      &.current{
        background: #25A1D3;
        color: #fff;
        @media (hover: hover){
          &:hover{
            background: #012D5A;
            border: 1px solid #012D5A;
            color: #fff;
          }
        }
      }
    }
    &-img{
      max-width: 100%;
    }
    &-discount{
      position: absolute;
      top: 20px;
      left: 20px;
      padding: 5px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 100%;
      background: #25A1D3;
      border-radius: 5px;
      text-align: center;
      color: #FFFFFF;
      user-select: none;
      @include media($sm){
        display: none;
      }
    }
    &-heart{
      &.active{
        color: #25A1D3;
        border: 1px solid #25A1D3;
        background: #fff;
        @media (hover: hover){
          border: 1px solid #25A1D3;
        }
      }
    }
  }
  .slick-next{
    right: 5px;
  }
  .slick-prev{
    left: -30px;
  }
  .slick-dots{
    left: calc(50% - 30px);
    transform: translateX(calc(-50% + 15px));
  }
}

.categories{
  &__body{
    display: flex;
    flex-direction: column;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item{
    max-width: 370px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 200ms ease;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 5px;
    user-select: none;
    @include media($md){
      max-width: 100%;
    }
    @media( hover:hover){
      &:hover{
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
      }
    }
    &:last-child{
      @include media(1200){
        margin: 0 auto 30px;
      }
      @include media(992){
        margin: 0 0 30px 0;
      }
    }
    &-image{
      margin-right: 25px;
      width: 75px;
      height: 75px;
      background: #F3F3F3;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    p{
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: #181818;
      @include media($sm){
        font-size: 16px;
      }
    }
  }
}