mixin advantages()
  .advantages 
    .advantages__body.container 
      h2.products__title Преимущества работы с нами
      .advantages__content 
        .advantages__item 
          img(src="images/advantages-1.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title Более 1000 товаров
            p.advantages__item-p Все для комплектации и сборки автономной газовой системы
        .advantages__item 
          img(src="images/advantages-2.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title Собственные разработки
            p.advantages__item-p Производственная линия и испытательная лаборатория в Чехии.
        .advantages__item 
          img(src="images/advantages-3.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title На связи 24х7 
            p.advantages__item-p Консультации и помощь в подборе оборудования, сборке газовых систем.
        .advantages__item 
          img(src="images/advantages-4.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title Срочная доставка
            p.advantages__item-p Срочная доставка от 3 часовпо Москве и Московской области
        .advantages__item 
          img(src="images/advantages-5.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title Доставка по России
            p.advantages__item-p 4-5 дней — среднее время выполнения заказа от обращения до вручения.
        .advantages__item 
          img(src="images/advantages-6.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title Поддержка клиентов
            p.advantages__item-p Поддержка по вопросам, связанным с газом и газовым оборудованием.

mixin advantages2()
  .advantages2.slider 
    .advantages2__body.slider__inner.container 
      .advantages2__item
        img(src="images/advantages2-1.webp", alt="").advantages2__img
        h3.advantages2__title Для дома и дачи
        ul.advantages2__list 
          li.advantages2__li Предложим минимум 3 варианта решений для загородного дома.
          li.advantages2__li Европейские технологии и 100% безопасность, защита от взрыва и утечки газа.
          li.advantages2__li Газовые комплекты. Элементы будущей системы подобраны под задачи,  все готово к эксплуатации, остается лишь собрать систему.
      .advantages2__item 
        img(src="images/advantages2-2.webp", alt="").advantages2__img
        h3.advantages2__title Для охоты и рыбалки
        ul.advantages2__list 
          li.advantages2__li 50 брендов-лидеров в производстве газового оборудования для экстремальных условий.
          li.advantages2__li Компактное, легкое и многофункциональное оборудование. Соответствуют всем требованиям надежности и безотказности.
          li.advantages2__li Статьи и обзоры новинок, видео инструкции и рекомендации профессионалов.
      .advantages2__item 
        img(src="images/advantages2-3.webp", alt="").advantages2__img
        h3.advantages2__title Для монтажа <br>натяжных потолков
        ul.advantages2__list 
          li.advantages2__li Взрывобезопасные и легкие модели газовых баллонов. Усиленный корпус, сброс избыточного давления.
          li.advantages2__li Сертифицированное оборудование, полное соответствие ГОСТ РФ.
          li.advantages2__li Газовые шланги любой длины и размеров. Собственное производство, обжим, контроль на утечку, гарантия.
      .advantages2__item 
        img(src="images/advantages2-4.webp", alt="").advantages2__img
        h3.advantages2__title Для яхт и караванинга
        ul.advantages2__list 
          li.advantages2__li Газовые баллоны, аксессуары и оборудование адаптированные для установки и использования на автодомах, речных и морских судах.
          li.advantages2__li Подробные описания и консультации по монтажу, установке и эксплуатации.
          li.advantages2__li Специальные программы заправки и замены газовых баллонов.
      .advantages2__item 
        img(src="images/advantages2-5.webp", alt="").advantages2__img
        h3.advantages2__title Для газовых грилей и BBQ
        ul.advantages2__list 
          li.advantages2__li Современные технологии для газовых грилей и барбекю-оборудования.
          li.advantages2__li Специальная серия оборудования «Grill edition» для пикников и комфортной загородной жизни.
          li.advantages2__li Оптимальные объемы газовых баллонов  от 12 до 24 л. Взрывобезопасные баллоны, легко моются, не подвержены коррозии.
      .advantages2__item 
        img(src="images/advantages2-6.webp", alt="").advantages2__img
        h3.advantages2__title Для туризма и путешествий
        ul.advantages2__list 
          li.advantages2__li Консультации, выбор оптимальных моделей для серьезных экспедиций и отдыха на природе.
          li.advantages2__li Все от одноразовых газовых баллонов до мобильных композитов массой 3 кг.
          li.advantages2__li Горелки и плитки, легкие и компактные обогреватели. Минимальный расход газа, надежность и практичность.