mixin advantages()
  .advantages 
    .advantages__body.container 
      h2.products__title Преимущества работы с нами
      .advantages__content 
        .advantages__item 
          img(src="images/advantages-1.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title Более 1000 товаров
            p.advantages__item-p Все для комплектации и сборки автономной газовой системы
        .advantages__item 
          img(src="images/advantages-2.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title Собственные разработки
            p.advantages__item-p Производственная линия и испытательная лаборатория в Чехии.
        .advantages__item 
          img(src="images/advantages-3.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title На связи 24х7 
            p.advantages__item-p Консультации и помощь в подборе оборудования, сборке газовых систем.
        .advantages__item 
          img(src="images/advantages-4.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title Срочная доставка
            p.advantages__item-p Срочная доставка от 3 часовпо Москве и Московской области
        .advantages__item 
          img(src="images/advantages-5.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title Доставка по России
            p.advantages__item-p 4-5 дней — среднее время выполнения заказа от обращения до вручения.
        .advantages__item 
          img(src="images/advantages-6.svg", alt="advantages").advantages__item-img
          .advantages__item-texts 
            h3.advantages__item-title Поддержка клиентов
            p.advantages__item-p Поддержка по вопросам, связанным с газом и газовым оборудованием.