mixin footer()
  footer.footer
    .footer__body.container
      .footer__top 
        a(href="index.html").footer__logo
          img(src="images/logo-white.webp", alt="").footer__logo-img
        ul.footer__bottom-list.dn 
          li.footer__bottom-li.footer__bottom-li_with-icon
            a(href="#!").footer__bottom-link
          li.footer__bottom-li.footer__bottom-li_with-icon.ml-20 
            a(href="#!" target="_blank").footer__bottom-link.i-instagram
          li.footer__bottom-li.footer__bottom-li_with-icon.ml-20 
            a(href="#!" target="_blank").footer__bottom-link.i-facebook
          li.footer__bottom-li.footer__bottom-li_with-icon.ml-20 
            a(href="#!" target="_blank").footer__bottom-link.i-wk
        ul.footer__top-list 
          li.footer__top-li 
            a(href="about.html").footer__top-link О компании 
          li.footer__top-li 
            a(href="katalog.html").footer__top-link Каталог
          li.footer__top-li 
            a(href="#!").footer__top-link Оптовикам
          li.footer__top-li 
            a(href="#!").footer__top-link Контакты
          li.footer__top-li.on-in-mob  
            a(href="#!").footer__top-link Подарочные сертификаты
        ul.footer__top-list.on-in-mob
          li.footer__top-li  
            a(href="#!").footer__top-link Оплата и доставка 
          li.footer__top-li  
            a(href="#!").footer__top-link Гарантия и возврат
          li.footer__top-li  
            a(href="discounts.html").footer__top-link Акции и скидки
          li.footer__top-li  
            a(href="#!").footer__top-link Новости и статьи
          li.footer__top-li  
            a(href="#!").footer__top-link Личный кабинет
        a(href="#!").footer__btn Записаться на консультацию 
      .footer__middle 
        ul.footer__middle-list 
          li.footer__middle-li  
            a(href="#!").footer__middle-link Оплата и доставка 
          li.footer__middle-li  
            a(href="#!").footer__middle-link Гарантия и возврат
          li.footer__middle-li  
            a(href="#!").footer__middle-link Подарочные сертификаты
          li.footer__middle-li  
            a(href="discounts.html").footer__middle-link Акции и скидки
          li.footer__middle-li  
            a(href="#!").footer__middle-link Новости и статьи
          li.footer__middle-li  
            a(href="#!").footer__middle-link Личный кабинет
        a(href="#!").footer__middle-link.dn Карта сайта
      .footer__bottom   
        ul.footer__bottom-list 
          li.footer__bottom-li 
            a(href="#!").footer__bottom-link © «evroballon.ru», 2021 
          li.footer__bottom-li 
            a(href="#!").footer__bottom-link Политика безопасности
          li.footer__bottom-li 
            a(href="#!").footer__bottom-link ОГРН 123456789
        ul.footer__bottom-list 
          li.footer__bottom-li.footer__bottom-li_with-icon
            a(href="mailto:nikitinbb17@gmail.com").footer__bottom-link nikitinbb17@gmail.com
          li.footer__bottom-li.footer__bottom-li_with-icon 
            a(href="#!" target="_blank").footer__bottom-link.i-instagram
          li.footer__bottom-li.footer__bottom-li_with-icon 
            a(href="#!" target="_blank").footer__bottom-link.i-facebook
          li.footer__bottom-li.footer__bottom-li_with-icon 
            a(href="#!" target="_blank").footer__bottom-link.i-wk