mixin header()
  .header#header
    .header__top  
      .header__top-body.container
        .header__top-left 
          a(href="#!").header__location
            i.i-location.header__location-i
            p.header__location-p Петропавловск-Камчатский
          a(href="#!").header__location-p Доставка 
        ul.header__top-list
          li.header__top-li   
            a(href="about.html").header__top-link О компании
          li.header__top-li   
            a(href="#!").header__top-link Контакты
          li.header__top-li   
            a(href="#!").header__top-link Оптовикам
          li.header__top-li   
            a(href="#!").header__top-link Личный кабинет
            i.i-bottom-arrow.header__top-link__i
    .header__nav.container
      button.header__button 
        span.header__button-line
      a(href="index.html").header__logo
        img(src="images/logo.webp", alt="logo").header__logo-img
        img(src="images/logo-light.svg", alt="logo").header__logo-img_light
      form(action="").header__search
        input(type="text" placeholder="Поиск").header__search-input
        button(type="submit").header__search-button 
          i.i-search 
      .header__btns
        a(href="#!").header__favourites
          i(data-value="5").i-heart.header__favourites-i
          p.header__favourites-p Избранное
        a(href="#!").header__settings
          i.i-settings.header__settings-i 
          p.header__settings-p Сравнение
      .header__contacts 
        .header__tel
          i.i-telephone.header__tel-i 
          div
            a(href="tel:84958888888").header__tel-tel 8 (495) 888-88-88
            a(href="#!").header__tel-link Заказать звонок 
        .header__tel
          i(data-value="5").i-cart.header__tel-i 
          div
            p.header__tel-tel 13 500р.
            a(href="#!").header__tel-link Оформить заказ
    .header__cats
      ul.header__cats-list.container
        li.header__cats-li
          a(href="katalog.html").header__cats-link.active
            svg(width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg")
              rect(width="3" height="3.00006" fill="white")
              rect(y="6" width="3" height="3.00006" fill="white")
              rect(y="12" width="3" height="3.00006" fill="white")
              rect(x="6" width="3" height="3.00006" fill="white")
              rect(x="6" y="6" width="3" height="3.00006" fill="white")
              rect(x="6" y="12" width="3" height="3.00006" fill="white")
              rect(x="12" width="3" height="3.00006" fill="white")
              rect(x="12" y="6" width="3" height="3.00006" fill="white")
              rect(x="12" y="12" width="3" height="3.00006" fill="white")
            p.header__cats-link__p Каталог
        li.header__cats-li 
          a(href="discounts.html").header__cats-link Акции 
        li.header__cats-li 
          a(href="#!").header__cats-link Баллоны 
        li.header__cats-li 
          a(href="#!").header__cats-link Плиты 
        li.header__cats-li 
          a(href="#!").header__cats-link Редукторы 
        li.header__cats-li 
          a(href="#!").header__cats-link Обогреватели 
        li.header__cats-li 
          a(href="#!").header__cats-link Горелки
        li.header__cats-li 
          a(href="#!").header__cats-link Рампы
        li.header__cats-li 
          a(href="#!").header__cats-link Обогреватели 
    .header__mob
      .header__mob-body.container
        .header__mob-nav 
          a(href="#!").header__mob-nav__link.active Категории 
          a(href="about.html").header__mob-nav__link О компании
          .header__mob-nav__navigation
        ul.header__mob-content.active
          li.header__mob-li 
            a(href="katalog.html").header__mob-link Комплекты
          li.header__mob-li 
            a(href="#!").header__mob-link Газовые баллоны
          li.header__mob-li 
            a(href="#!").header__mob-link Газовые рампы
          li.header__mob-li 
            a(href="#!").header__mob-link Газовые обогреватели
          li.header__mob-li.header__mob-drop 
            a(href="#!").header__mob-link.header__mob-drop__btn Категория 5
            ul.header__mob-sublist 
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 1
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 2
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 3
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 4
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 5
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 6
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 7
          li.header__mob-li.header__mob-drop 
            a(href="#!").header__mob-link.header__mob-drop__btn Категория 6
            ul.header__mob-sublist 
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 1
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 2
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 3
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 4
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 5
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 6
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 7
          li.header__mob-li.header__mob-drop
            a(href="#!").header__mob-link.header__mob-drop__btn Категория 7
            ul.header__mob-sublist 
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 1
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 2
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 3
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 4
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 5
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 6
              li.header__mob-subli 
                a(href="#!").header__mob-sublink Подкатегория 7
        ul.header__mob-content
          li.header__mob-li 
            a(href="#!").header__mob-link О компании
          li.header__mob-li 
            a(href="#!").header__mob-link Оптовикам
          li.header__mob-li 
            a(href="#!").header__mob-link Личный кабинет
          li.header__mob-li 
            a(href="#!").header__mob-link Гарантия и возврат
          li.header__mob-li 
            a(href="#!").header__mob-link Оплата и доставка
          li.header__mob-li 
            a(href="discounts.html").header__mob-link Акции и скидки
          li.header__mob-li 
            a(href="#!").header__mob-link Новости и статьи
          li.header__mob-li 
            a(href="#!").header__mob-link Политика безопасности
          li.header__mob-li 
            a(href="#!").header__mob-link Личный кабинет
            a(href="#!").header__mob-link.header__mob-link_blue Войти 
          li.header__mob-li 
            a(href="#!").header__mob-link Контакты
