mixin product()
  .products__item.slider__item 
    .products__item-top 
      p.products__item-discount Скидка 10%
      .products__item-top__btns 
        a(href="#!").i-heart.products__item-top__btn.products__item-heart 
        a(href="#!").i-settings.products__item-top__btn.products__item-settings 
      img(src="images/item.webp", alt="").products__item-img
    .products__item-content 
      a(href="product.html").products__item-title Автоматически переключаемый регулятор SRG
      .products__item-row 
        .products__item-star 
          img(src="images/star.svg", alt="star").products__item-star__img
          p.products__item-star__p 4,6
        a(href="#!").products__item-review 1 отзыв
      p.products__item-price 5 175р.
      a(href="#!").products__item-btn.current Купить в один клик
      a(href="#!").products__item-btn В корзину 
      a(href="#!").products__item-btn.show-on-mobile
        i.i-cart 
        p Купить

mixin product2()
  .products__item.categories__mainitem 
    .products__item-top 
      p.products__item-discount Скидка 10%
      .products__item-top__btns 
        a(href="#!").i-heart.products__item-top__btn.products__item-heart 
        a(href="#!").i-settings.products__item-top__btn.products__item-settings 
      img(src="images/item.webp", alt="").products__item-img
    .products__item-content 
      a(href="product.html").products__item-title Автоматически переключаемый регулятор SRG
      .products__item-row 
        .products__item-star 
          img(src="images/star.svg", alt="star").products__item-star__img
          p.products__item-star__p 4,6
        a(href="#!").products__item-review 1 отзыв
      p.products__item-price 5 175р.
      a(href="#!").products__item-btn.current Купить в один клик
      a(href="#!").products__item-btn В корзину 
      a(href="#!").products__item-btn.show-on-mobile
        i.i-cart 
        p Купить 

      


mixin products()
  .products
    .products__body.container
      h2.products__title Хиты продаж
      .products__content.products__content_4.slider.slider-3
        .products__content-body.main-slider_3.slider__inner
          +product()
          +product()
          +product()
          +product()
          +product()
          +product()
          +product()

mixin products2()
  .products
    .products__body.container
      h2.products__title Новинки
      .products__content.products__content_4.slider.slider-3
        .products__content-body.main-slider_3.slider__inner
          +product()
          +product()
          +product()
          +product()
          +product()
          +product()
          +product()


mixin categories()
  .categories 
    .categories__body.container 
      h2.products__title Категории товаров
      .categories__content
        .categories__item
          .categories__item-image 
            img(src="images/cat-1.webp", alt="").categories__item-img
          p.categories__item-p Комплекты
        .categories__item
          .categories__item-image 
            img(src="images/cat-2.webp", alt="").categories__item-img
          p.categories__item-p Газовые баллоны
        .categories__item
          .categories__item-image 
            img(src="images/cat-3.webp", alt="").categories__item-img
          p.categories__item-p Газовые редукторы
        .categories__item
          .categories__item-image 
            img(src="images/cat-4.webp", alt="").categories__item-img
          p.categories__item-p Газовые плиты
        .categories__item
          .categories__item-image 
            img(src="images/cat-5.webp", alt="").categories__item-img
          p.categories__item-p Газовые обогреватели
        .categories__item
          .categories__item-image 
            img(src="images/cat-6.webp", alt="").categories__item-img
          p.categories__item-p Газовые горелки
        .categories__item
          .categories__item-image 
            img(src="images/cat-7.webp", alt="").categories__item-img
          p.categories__item-p Газовые рампы
        .categories__item
          .categories__item-image 
            img(src="images/cat-8.webp", alt="").categories__item-img
          p.categories__item-p Газовые фитинги
        .categories__item
          .categories__item-image 
            img(src="images/cat-9.webp", alt="").categories__item-img
          p.categories__item-p Подводки и шланги