mixin reviews()
  .reviews
    .reviews__body.container
      h2.products__title.reviews__maintitle Отзывы
      .slider 
        .slider__inner.reviews__slider
          .reviews__item 
            .reviews__image
              img(src="images/review-1.webp", alt="").reviews__img
            .reviews__content 
              h3.reviews__title Обогреватель газовый инфракрасный — Bartolini - Bella I
              p.reviews__p Ребятам спасибо, баллон отличный. Покупал для натяжных потолков, но пока до них дело дойдёт - отапливаю пушкой стройку, пользуюсь две недели, очень удобный, лёгкий, а главное безопасный!
              .reviews__row   
                img(src="images/grades.webp", alt="").reviews__star
                p.reviews__date Сергей <b>12.05.2020</b>
              a(href="#!").reviews__link Читать все отзывы → 
          .reviews__item 
            .reviews__image
              img(src="images/review-2.webp", alt="").reviews__img
            .reviews__content 
              h3.reviews__title Композитный газовый баллон HPC Research LPG 12,7 л. (HPCR)
              p.reviews__p Качество отличное. Легкие, компактные. Еще не заправлял.
              .reviews__row   
                img(src="images/grades.webp", alt="").reviews__star
                p.reviews__date Иван <b>10.05.2020</b>
              a(href="#!").reviews__link Читать все отзывы → 
          .reviews__item 
            .reviews__image
              img(src="images/review-1.webp", alt="").reviews__img
            .reviews__content 
              h3.reviews__title Обогреватель газовый инфракрасный — Bartolini - Bella I
              p.reviews__p Ребятам спасибо, баллон отличный. Покупал для натяжных потолков, но пока до них дело дойдёт - отапливаю пушкой стройку, пользуюсь две недели, очень удобный, лёгкий, а главное безопасный!
              .reviews__row   
                img(src="images/grades.webp", alt="").reviews__star
                p.reviews__date Сергей <b>12.05.2020</b>
              a(href="#!").reviews__link Читать все отзывы → 
          .reviews__item 
            .reviews__image
              img(src="images/review-2.webp", alt="").reviews__img
            .reviews__content 
              h3.reviews__title Композитный газовый баллон HPC Research LPG 12,7 л. (HPCR)
              p.reviews__p Качество отличное. Легкие, компактные. Еще не заправлял.
              .reviews__row   
                img(src="images/grades.webp", alt="").reviews__star
                p.reviews__date Иван <b>10.05.2020</b>
              a(href="#!").reviews__link Читать все отзывы → 
          .reviews__item 
            .reviews__image
              img(src="images/review-1.webp", alt="").reviews__img
            .reviews__content 
              h3.reviews__title Обогреватель газовый инфракрасный — Bartolini - Bella I
              p.reviews__p Ребятам спасибо, баллон отличный. Покупал для натяжных потолков, но пока до них дело дойдёт - отапливаю пушкой стройку, пользуюсь две недели, очень удобный, лёгкий, а главное безопасный!
              .reviews__row   
                img(src="images/grades.webp", alt="").reviews__star
                p.reviews__date Сергей <b>12.05.2020</b>
              a(href="#!").reviews__link Читать все отзывы → 
          .reviews__item 
            .reviews__image
              img(src="images/review-2.webp", alt="").reviews__img
            .reviews__content 
              h3.reviews__title Композитный газовый баллон HPC Research LPG 12,7 л. (HPCR)
              p.reviews__p Качество отличное. Легкие, компактные. Еще не заправлял.
              .reviews__row   
                img(src="images/grades.webp", alt="").reviews__star
                p.reviews__date Иван <b>10.05.2020</b>
              a(href="#!").reviews__link Читать все отзывы → 
