mixin slider1()
  .slider.container.slider_1
    .slider__inner.main-slider_1 
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image 
          img(src="images/compogas.webp", alt="").slider__img
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image 
          img(src="images/compogas.webp", alt="").slider__img
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image 
          img(src="images/compogas.webp", alt="").slider__img
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image 
          img(src="images/compogas.webp", alt="").slider__img
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image 
          img(src="images/compogas.webp", alt="").slider__img
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image 
          img(src="images/compogas.webp", alt="").slider__img

mixin slider2()
  .slider.container.slider_2
    .slider__inner.main-slider_2
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image_2
          img(src="images/compogas.webp", alt="").slider__img_2
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image_2
          img(src="images/compogas.webp", alt="").slider__img_2
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image_2
          img(src="images/compogas.webp", alt="").slider__img_2
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image_2
          img(src="images/compogas.webp", alt="").slider__img_2
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image_2
          img(src="images/compogas.webp", alt="").slider__img_2
      .slider__item 
        .slider__content   
          .slider__content-texts
            h2.slider__title Скидка 300 руб. <br>на Редуктор GOK
            p.slider__p при покупке газового комплекта.
        .slider__image_2
          img(src="images/compogas.webp", alt="").slider__img_2

