doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Evroballon сайт интернет магазина")
    title Evroballon
    link(rel="preconnect" href="https://fonts.googleapis.com" async)
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin async)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet" async)
    link(rel="stylesheet", href="styles/index.css")
  body 
    include components/header.pug 
    +header
    main.main
      .about.container
        p.about__cat Главная — О компании
        h2.about__title О компании
        h3.about__subtitle Бытовые газовые системы, газовые баллоны, аксессуары и оборудование. evroballon.com — давайте знакомиться.
        p.about__p <a href="https://evroballon.com" target="_blank">evroballon.com</a> — интернет-магазин газового оборудования. Наша специализация – газовые баллоны, оборудование, приборы и аксессуары для бытовых автономных газовых систем на пропаново-бутановой смеси.
        h2.about__subtitle Бытовой газ
        p.about__p В нашем каталоге более 1000 товаров для проектирования, комплектации и сборки бытовых газовой системы на базе баллонов. <br><br>В нашей базе знаний сотни идей и лайфхаков, схем и предложений, как выбрать газовый баллон, какое оборудование выбрать и, самое главное, как собрать все это в единую, функциональную и безопасную систему – построить систему от отопления загородного дома до обогрева туристической палатки и сварить чашку крепкого кофе с использованием газового баллона.
        .about__item 
          .about__item-left
            h3.about__item-title Безопасность! 
            p.about__item-subtitle Пропан-бутановая смесь, не только тепло и уют, газ – повышенный источник опасности. 
            p.about__item-p evroballon.com – только безопасное, сертифицированное и проверенное оборудование, только бренды – лидеры отрасли по показателю безопасность.
          img(src="images/fire.svg", alt="").about__item-img
      include components/advantages.pug 
      +advantages
      +advantages2
      .history.container 
        h2.history__title История развития компании
        p.history__subtitle Наш путь  - от замысла к компетенциям и знаниям, которыми мы делимся с вами.
        .history__item 
          p.history__item-year 2015
          .history__item-content 
            p.history__item-title Начало
            p.history__item-p 2015 год, наши партнеры открывают производство композитных газовых баллонов в г. Плзень (Чехия). Создана компания HPC Research s.r.o, запущена производственная линия, выпущены первые композитные газовые баллоны под брендом HPC Research.
        p.history__item-title Прививка качества
        p.history__item-p.mb-40 Годы обучения в Бауманке и крупнейших российских авиационных ВУЗах, не прошли даром для нашей команды, на производстве создана лаборатория по испытаниям и контроля качества для композитных баллонов для сжиженных и сжатых газов.
        p.history__item-title Европейская педантичность и 100% безопасность
        p.history__item-p.mb-40 Внимание к деталям и вопросам безопасности вывело продукцию чешского завода в мировые лидеры. Бренд HPC Research ассоциируется с надежностью практичностью и безопасностью. Каждый газовый баллон проходит строгую проверку, каждый баллон имеет серийный номер и паспорт изделия. Баллоны из первых коммерческих партий эксплуатируются и сегодня, ни чуть не потеряв в качестве.
        p.history__item-title HPC Research в России
        p.history__item-p.mb-40 2015 год, выпущена первая партия композитно-полимерных баллонов HPC Research для российского рынка. Учтены все требования к надежности, безопасности и качеству, пройдена сертификация. В российской версии баллона учтены размеры посадочных мест газового редуктора российского и белорусского производства. Заключен дистрибьюторский договор о поставке чешских баллонов в Россию. Поставка первой коммерческой партии чешских композитных баллонов. 
        p.history__item-title evroballon.com – идея создания
        p.history__item-p.mb-40 Пропан-бутановая смесь или СПБТ – с одной стороны это уют, комфорт и тепло, с другой – взрывоопасная недружелюбная смесь, требующая особых знаний и внимания к техники безопасности. <br><br>Начав работу в газовой тематике, мы увидели, что безопасность газовой системы это тема, которая волнует всех наших клиентов. Большинство людей оперируют понятиями уют, тепло, тем что дает использование газа (результатом), но в то же время существует страх перед использованием газового оборудования, страх вызван прежде всего незнанием газовой тематики, страх перед выбором и эксплуатацией газовых систем. <br><br>Сложность выбора оборудования, сложно собрать систему и быть уверенными в ее безопасности <br><br>Идея – Все качественное оборудование для газобаллонных систем в одном магазине – Только проверенные бренды, только безопасное оборудование <br><br>Тут и родилась идея – добавить к современным и качественным баллонам, аксессуары и оборудование для сборки готовых газовых систем, идея собрать в одном месте самое качественное и безопасное газовое оборудование, предложить клиентам оборудование для сборки систем безопасных, систем, работающих по принципу «собрал и забыл», чтобы газ у наших клиентов ассоциировался только с приятными моментами тепла и уюта.
      .container
        .history__redirect
          p.history__redirect-title Мы работаем для вас 
          a(href="katalog.html").history__redirect-btn Перейти в каталог 


    include components/footer.pug 
    +footer
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js") 
    script(src="scripts/index.js") 